@charset "utf-8";
/* CSS Document */
.my_banner{width: 100%;height: 100%;}
.my_banner .piclist{width: 100%;height: 100%;position: relative; }
				/*Í¼Æ¬Ð§¹û*/
.my_banner .piclist img{ width: 100%;height: 100%;position: absolute;visibility: hidden; }
.my_banner .piclist .img_act{animation: pic_move 1s linear 0s ;visibility:visible;z-index: 1;}
				/*½¹µãÍ¼×óÓÒ°´Å¥*/
.my_banner .ban_next,.ban_prev{width: 40px;height: 40px;position: absolute;top: 40%;z-index: 2;background: rgba(0,0,0,0.3);cursor: pointer;display: none;line-height: 40px;font-size: 28px;text-align: center;color: #C1C1C1;font-weight: normal;font-family: "consolas";}
.my_banner .ban_next{right: 0;}
.my_banner .ban_prev{left: 0;}
.my_banner .piclist:hover .ban_next ,.piclist:hover .ban_prev{display: block;}
.my_banner .piclist .ban_next:hover ,.piclist .ban_prev:hover{background: rgba(0,0,0,0.7);}
				/*ÏÂÃæµÄ°´Å¥*/
.my_banner .ban_button{width: 100%;height: 20px;line-height: 20px;position: absolute;bottom: 10px; z-index: 2;text-align: center;}
.my_banner .ban_button span{width: 15px;height: 15px;line-height: 15px; border: 1px solid #FFFFFF;border-radius: 50%;margin: 0 3px;display: inline-block;background-color: #3e3e3e;cursor: pointer;font-size: 12px;color: white;}
.my_banner .ban_button .span_act{background-color: #b61b1f;}