/*首页*/
.mar_10{
    width: 40px;
    margin-top: 5px;
}
.mar_20{
    margin-bottom: 20px;
}
.media_pic{
    width: 60px;
}
.badge{
    background-color: red;
}

/*用户管理页*/
.hear_title{
    margin-top: 10px;
}
.mar_t10{
    margin-top: 10px;
}
.my_form{
    padding: 10px;
    border: 1px solid #ccc;
    border-top: none;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td{
    vertical-align: middle;
}
/*标签页*/
.label_box{
    margin-right: 20px;
}